@import '../assets/Styles/variables.scss';

.Filter {
    @include width-height-val(max-content);
    @include flex-center;
    border-radius: 6px;
    font-family: "League Spartan";
    background-color: $LightGrayishCyanFilterTablets;
    color: $DesaturatedDarkCyan;

    &:nth-of-type(1) {
        margin-left: 2rem;
    }

    &__Name {
        padding: 6px;
        font-weight: 700;
    }

    &__Close {
        height: 300%;
        width: 100%;
        padding: 6px 8px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        background-color: $DesaturatedDarkCyan;
        color: white;
        

        &:hover {
            padding-top: 6px;
            background-color: black;
            color: white;
            cursor: pointer;
        }
    }
}