@import "../assets/Styles/variables.scss";

.JobOffer {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;

    &:nth-of-type(1) {
        margin-top: 20px;
    }

    &:hover {
        &::before {
            content: "";
            width: 10px;
            background-color: $DesaturatedDarkCyan;
            height: 100%;
            margin-top: auto;
            margin-bottom: auto;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .TitleText {
            color: $DesaturatedDarkCyan;
        }
    }
    

    &__image {
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: max-content;
        }
    }

    &__datas {
        display: flex;
        width: 40%;
        flex-direction: column;
        justify-content: center;
        font-family: 'Gill Sans';
        font-weight: 700;
        font-family: 'League Spartan';

        &--heading {
            max-height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            text-align: start;
            font-size: 18px;
            color: $DesaturatedDarkCyan;

            div {
                text-transform: uppercase;
                color: white;
                border-radius: 12px;
                padding: 4px 5px 1px 5px;
                font-size: 16px;

                &:nth-of-type(1) {
                    background-color: $DesaturatedDarkCyan;
                }

                &:nth-of-type(2) {
                    background-color: $VeryDarkGrayishCyan;
                }
            }
        }

        &--title {
            font-size: 22px;
            max-height: 30px;
            color: black;

            p {
                margin: 0;
                padding: 0;
                text-align: start;
            }
        }

        &--details {
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            color: $DarkGrayishCyan;
            
            p {
                width: 40%;
                text-align: start;
                margin-bottom: 5px;

                &:nth-of-type(1) {
                    width: 30%;
                }
            }
        }
    }

    &__categories {
        width: 45%;
        display: flex;
        justify-content: end;
        margin-right: 2rem;

        &--tools {
            width: max-content;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 20px;

            div {
                color: $DesaturatedDarkCyan;
                background-color: $LightGrayishCyanFilterTablets;
                font-weight: 700;
                padding: 3px 6px 4px 6px;
                border-radius: 7px;

                &:hover {
                    color: white;
                    background-color: $DesaturatedDarkCyan;
                    cursor: pointer;
                }
            }
        }
    }
}