@import "../assets/Styles/variables.scss";

.JobOffer {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;

    @media (max-width: $MobileResolution) {
        height: 250px;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &:nth-of-type(1) {
        margin-top: 20px;
    }

    &:hover {
        &::before {
            content: "";
            width: 10px;
            height: 100%;
            margin-top: auto;
            margin-bottom: auto;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background-color: $DesaturatedDarkCyan;

            @media (max-width: $MobileResolution) {
                all:unset;
            }
        }

        .TitleText {
            color: $DesaturatedDarkCyan;
        }
    }
    

    &__image {
        @include flex-center;
        width: 15%;
        flex-direction: column;

        @media (max-width: $MobileResolution) {
            position: relative;
        }

        img {
            width: max-content;
            max-width: 90px;

            @media (max-width: $MobileResolution) {
                position: absolute;
                left: 30px;
                width: 60px;
            }

            @media (max-width: $MediumResolution) {
                max-width: 70px;
            }
        }
    }

    &__datas {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: 700;
        font-family: 'League Spartan';

        @media (max-width: $MobileResolution) {
            width: 100%;
            margin-top: 40px;
            margin-left: 30px;
        }


        &--heading {
            max-height: 40px;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 10px;
            text-align: start;
            font-size: 18px;
            color: $DesaturatedDarkCyan;

            @media (max-width: $MediumResolution) {
                font-size: 15px;
            }

            div {
                padding: 4px 5px 1px 5px;
                text-transform: uppercase;
                border-radius: 12px;
                font-size: 16px;
                color: white;

                @media (max-width: $MediumResolution) {
                    font-size: 13px;
                }

                &:nth-of-type(1) {
                    background-color: $DesaturatedDarkCyan;
                }

                &:nth-of-type(2) {
                    background-color: $VeryDarkGrayishCyan;
                }
            }
        }

        &--title {
            max-height: 34px;
            font-size: 22px;
            color: black;

            @media (max-width: $MediumResolution) {
                font-size: 18px;
            }

            p {
                margin: 0;
                padding: 0;
                text-align: start;
            }
        }

        &--details {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            color: $DarkGrayishCyan;

            @media (max-width: $MediumResolution) {
                justify-content: space-around;
            }
            
            p {
                width: 40%;
                text-align: start;
                margin-bottom: 5px;

                @media (max-width: $MediumResolution) {
                    font-size: 14px;
                }

                &:nth-of-type(1) {
                    width: 30%;
                }
            }
        }
    }

    &__categories {
        width: 45%;
        display: flex;
        justify-content: end;
        margin-right: 2rem;

        @media (max-width: $MobileResolution) {
            width: 100%;
            height: 30%;
            max-width: 230px;
            justify-content: start;
            flex-wrap: wrap;
            margin-left: 1rem;
            margin-top: 1rem;
        }

        &--tools {
            width: max-content;
            height: 100%;
            @include flex-center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            div {
                padding: 3px 6px 4px 6px;
                border-radius: 7px;
                font-weight: 700;
                background-color: $LightGrayishCyanFilterTablets;
                color: $DesaturatedDarkCyan;

                &:hover {
                    color: white;
                    background-color: $DesaturatedDarkCyan;
                    cursor: pointer;
                }
            }
        }
    }
}