$DesaturatedDarkCyan: hsl(180, 29%, 50%);
$LightGrayishCyanBackground: hsl(180, 52%, 96%);
$LightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
$DarkGrayishCyan: hsl(180, 8%, 52%);
$VeryDarkGrayishCyan: hsl(180, 14%, 20%);

$MediumResolution: 1150px;
$MobileResolution: 800px;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-justify($justify) {
    @include flex-center;
    justify-content: $justify;
}

@mixin width-height-val($value) {
    width: $value;
    height: $value;
}

@mixin width-height($widthVal, $heightVal) {
    width: $widthVal;
    height: $heightVal;
}

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");